h1{
    color: steelblue;
    text-align: center;
    text-transform: uppercase;
}
div{
    background-color: skyblue;
    padding: 20px 10px;
    border: 2px ridge silver;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}
h2{
    text-align: center;
    text-transform: capitalize;
    color: steelblue;
}
small{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}
span{
    text-transform: capitalize;
    color:oldlace;
}
p{
    text-align: justify;
    color: rgba(89, 89, 137, 0.971);
    text-transform: capitalize;

}
